<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="/stylesheets/local.css" rel="stylesheet">
    <link href="/stylesheets/barchart.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  
  <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Musical Minds</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    
                    <li><a href="#"><i class="fa fa-bar-chart-o"></i> Rating per gender</a></li>
                    <li><a href="#"><i class="fa fa-bar-chart-o"></i> Word Co-occurence Dendrogram</a></li>
                    <li><a href="#barChrt"><i class="fa fa-bar-chart-o"></i> Average Rating per employee status</a></li>
                    <li><a href="#piechart"><i class="fa fa-bar-chart-o"></i> Average Rating per region</a></li>
                    <li><a href="#maleFreq"><i class="fa fa-bar-chart-o"></i> Most used words (Male)</a></li>
                    <li><a href="#femaleFreq"><i class="fa fa-bar-chart-o"></i> Most used words (Female)</a></li>
                    
                    
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                <li><a href="/project"><i class="fa fa-bullseye"></i> Project</a></li>
                <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-inbox"></i> Project Files <span class="badge">2</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">2 New Files</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-book"></i></span>
                                    <span class="message">Project Report</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-download"></i></span>
                                    <span class="message">Presentation</span>
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                     <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </nav>
  </div>

  <div id="page-wrapper">

   <div class="row">
   <div class="col-lg-2">
   </div>
    <div class="col-lg-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Rating per Gender</h3>
                        </div>
                        <div class="panel-body" >
                <div class="col-lg-3">
                    <div class="panel panel-default ">
                        <div class="panel-body alert-info">
                            <div class="col-xs-5">
                                <i class="fa fa-male fa-5x"></i>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="alerts-heading">35.6</p>
                                <p class="alerts-text">Rating</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-default ">
                        <div class="panel-body alert-info">
                            <div class="col-xs-5">
                                <i class="fa fa-female fa-5x"></i>
                            </div>
                            <div class="col-xs-5 text-right">
                                <p class="alerts-heading">37.8</p>
                                <p class="alerts-text">Rating</p>
                            </div>
                        </div>
                    </div>
                </div>
                 </div>
                    </div>
                </div>
    </div>
  <div class="row" id="dendrogram">
 <div class="col-lg-2">
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Words Co-occurence Dendrogram</h3>
                        </div>
                        <div class="panel-body" >
                          
                              <img src="images/dendrogram.PNG"/>
                          
                        </div>
                    </div>
                </div>

                
  </div>

   <div class="row" id="barChrt">
 <div class="col-lg-2">
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Ratings per User Employment</h3>
                        </div>
                        <div class="panel-body">
                              <div id="barChart"></div>
                        </div>
                    </div>
                </div>

                
  </div>

  
  <div class="row" id="piechart">
 <div class="col-lg-2">
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Average Ratings per Region</h3>
                        </div>
                        <div class="panel-body" >
                          
                             <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
                          
                        </div>
                    </div>
                </div>

                
  </div>
    <div class="row" id="maleFreq">
 <div class="col-lg-2">
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Most used words (Male)</h3>
                        </div>
                        <div class="panel-body" >
                          
                              <img src="images/MaleFrequency.png" style="width:70%; height:50%;margin-left:20%"/>
                          
                        </div>
                    </div>
                </div>

                
  </div>
    <div class="row" id="femaleFreq">
 <div class="col-lg-2">
                </div>
                <div class="col-lg-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Most used words (Female)</h3>
                        </div>
                        <div class="panel-body" >
                          
                             <img src="images/FemaleFrequency.png" style="width:70%; height:50%;margin-left:20%"/>
                          
                        </div>
                    </div>
                </div>

                
  </div>
<div id="tooltip" class="hidden">
    <p><span id="value">100</span>
    </p>
</div>
  </div>

<br/><br/>
    
    <script src="javascripts/d3.min.js"></script>
     <script src="javascripts/googlechart.js"></script>
    <script src="javascripts/barchart.js"></script>
    <script src="javascripts/piechart.js"></script>
  </body>

</html>
