<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  

  <h1> EMI Musical Challenge</h1>
  <h4> <i>Richest and largest music data ever compiled.</i> </h4>
 
  <br/>
  <a class="btn" href="/project">
    VIEW PROJECT &nbsp;<i class="fa fa-caret-right"></i>
  </a>
<br/><br/>
  <h1> 1 MILLION </h1>
  <h4> <i> INTERVIEWS</i></h4>
  <br/>
  <h1> 3800</h1>
  <h4> <i>TRACKS</i></h4>
  <br/>
  <h1> 7700 </h1>
  <h4> <i> ARTISTS</i></h4>
  </body>

</html>
